* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #0a192f;
  color: #ccd6f6;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

section,
footer {
  padding: 1.5rem;
}

p {
  color: #8892b0;
}

a {
  color: #64ffda;
  text-decoration: none;
}

.hightlight {
  color: #64ffda;
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
}

.small-intro {
  color: #64ffda;
  margin-bottom: 1.5rem;
}

.intro-name {
  text-align: right;
  font-size: 3.5rem;
  line-height: 0.6;
  margin-bottom: 1.5rem;
}

.intro-description {
  color: #8892b0;
  line-height: 1;
  margin-bottom: .5rem;
}

.intro-full-description {
  color: #8892b0;
  margin-bottom: 1.5rem;
  font-size: .9rem;
}

.intro-link {
  display: block;
  color: #64ffda;
  padding: 1rem;
  border: 1px solid;
  text-align: center;
  text-decoration: none;
}

.projects-titles {
  margin-bottom: 1rem;
}

.project-subtitle {
  color: #64ffda;
  font-weight: 400;
}

.project-name {
  font-size: 1.2rem;
}

.project-description {
  margin-bottom: 1rem;
}

.links {
  display: flex;
  gap: 1rem;
}

.project-link {
  font-size: .7rem;
  border: 1px solid;
  padding: .4rem;
}

/* Footer */
.contact-big {
  font-size: 3rem;
  line-height: 0.6;
  margin-bottom: 1.5rem;
}

.contact-description {
  margin-bottom: 1.5rem;
}

.contact-email {
  display: block;
  color: #64ffda;
  padding: 1rem;
  border: 1px solid;
  text-align: center;
  text-decoration: none;
  margin-bottom: 1.5rem;
}

.rights {
  color: #64ffda;
  font-size: .8rem;
  text-align: center;
}


@media screen and (min-width: 720px) {

  section,
  footer {
    padding: 5rem 10rem;
  }

  .intro-name {
    text-align: left;
  }

  .intro-description {
    font-size: 3.5rem;
    width: 20ch;
  }

  .intro-full-description {
    width: 70ch;
    font-size: 1rem;
    margin-bottom: 4rem;
  }

  .intro-link {
    display: inline-block;
    padding-left: 2rem;
    padding-right: 2rem;
  }


  .about-title,
  .projects-titles,
  .contact-title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }


}